<h1>github page</h1>
<iframe height="80px" width="300px" frameborder="0" src="https://livecounts.io/embed/twitter-live-follower-counter/tarak9999"></iframe>
<iframe height="80px" width="300px" frameborder="0" src="https://livecounts.io/embed/youtube-live-view-counter/cW2RWZCUot4"></iframe>
<iframe height="80px" width="300px" frameborder="0" src="https://open.spotify.com/embed/track/6b2WJDzGt5X8dYfpkWtvXW?utm_source=generator"></iframe>

<iframe height="80px" width="300px" frameborder="0" src="https://www.youtube.com/embed/rc61YHl1PFY"></iframe>
<div class="container" (click)="addPopcorn($event)">
  <img class="popcorn" *ngFor="let popcorn of poppedPopcorns" src="assets/popcorn.png" [style.left.px]="popcorn.x" [style.top.px]="popcorn.y" [class.fall]="popcorn.falling">
  
</div>
