<h1>github page</h1>
<iframe height="80px" width="300px" frameborder="0" src="https://livecounts.io/embed/twitter-live-follower-counter/tarak9999"></iframe>
<div style="overflow-x:auto;">
	<table>
			<tr *ngFor="let lang of langs">
				<td>{{lang}}</td>
				<td><iframe height="80px" [src]="fearSongUrls1[lang]" ></iframe></td>
				<td><iframe height="80px" [src]="glimpseUrls1[lang]" ></iframe></td>
				<td><iframe height="80px" [src]="furyUrls1[lang]" ></iframe></td>
			</tr>
	</table>
</div>
<div style="overflow-x:auto;">
	<table *ngIf="data">
		<tr>
			<th>Album</th>
			<th>Spotify</th>
			<th>Youtube Music</th>
		</tr>
		<tr *ngFor="let track of data.tracks">
			<td><img height="100px" width="100px" [src] ="track.image"></td>
			<td style="width:120px">{{track.spotifyCount | number}}</td>
			<td>{{track.ytmusicCount}}</td>
		</tr>
	</table>
</div>
<!-- <iframe height="80px" width="300px" frameborder="0" src="https://open.spotify.com/embed/track/6b2WJDzGt5X8dYfpkWtvXW?utm_source=generator"></iframe>

<iframe height="80px" width="300px" frameborder="0" src="https://www.youtube.com/embed/rc61YHl1PFY"></iframe>
<div class="container" (click)="addPopcorn($event)">
  <img class="popcorn" *ngFor="let popcorn of poppedPopcorns" src="assets/popcorn.png" [style.left.px]="popcorn.x" [style.top.px]="popcorn.y" [class.fall]="popcorn.falling">
</div> -->
